ul{
  list-style: none;
}

#wrapper {
  width: auto;
  /* height: 90vh; */
  display: flex;
  margin: auto;
  
}

#work_container {
  position: relative;
  width: 65%;
  height: 95vh;
  background-color: #e2e2e2;
}

#stamp_container {
  width: 35%;
  /* padding: 10px; */
  background-color: white;
  border-right: 1px solid #cdcdcd;
}

/* タブ設定 */
.tab_menu{
  display: flex;
  align-items: flex-end; /* メニューを下揃え&高さを調整 */
  justify-content: center;
  min-height: 50px; /* メニュー切替時にタブがズレないように */
  padding: 0;
  margin-bottom: 10px;
}

.tab_icon{
  width: 30px;
}

.tab_menu-item {
  list-style: none;
  width: 200px;
  padding: 6px 3px; /* メニューに高さを付ける */
  text-align: center;
  /* margin-right: 6px; */
  /* background-color: #cdcdcd; */
  border-bottom: 2px solid #cdcdcd;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  cursor: pointer;
  /* transition: all .3s; アニメーション */
}

.tab_menu-item:last-of-type {
  margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab_menu-item.is-active {
  /* background-color: rgba(48, 172, 249); */
  border-bottom: 2px solid #ED6D1F;
  /* padding: 12px 5px; */
}
/* タブをいったん非表示に */
/* [class^="tab_panelBox"]{
  display: none;
}  */
.tab_panel-box-all{
  display: none;
}
.tab_panel-box-light{
  display: none;
}
.tab_panel-box-color{
  display: none;
}
.tab_panel-box-3d{
  display: none;
}
.tab_panel-box-image{
  display: none;
}
.tab_panel-box-kouzu{
  display: none;
}
.tab_panel-box-hair{
  display: none;
}
.tab_panel-box-face{
  display: none;
}
.tab_panel-box-ornament{
  display: none;
}
.tab_panel-box-body{
  display: none;
}



/* is-showがついているときのスタイル */
.tab_panel-box.is-show{
  display: block;
}

[class^="stamp_list"] {
  /* list-style-type: none; */
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 0;
}

li[class^="stamp_list"]  {
  /* width: 8vw;
  height: 8vw;これでリストが正方形に */
  border: 1px;
}

.stamp_btn button {
  background-color: rgb(169, 169, 169);
  border-color: rgb(204, 204, 204);
  /* border-width: 0.5px; */
  border: none;
  border-radius: 10px;
}

.stamp_btn img{
  width: 9vw;
  height: 9vw;/*これでリストが正方形に*/  
  object-fit: contain;
}

.work {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#trash_can{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  margin: 5px;
  /* background-color: aqua; */
}
#trash_can img{
  width: 50px;
}

.upload-container{
  position: absolute;
  left: 40%;
  margin: 5px;}

.draggable {
  position: absolute;
  cursor: pointer;
  transform-origin: center center;
}

/* moveableのデフォルトの線を見えなくする */
.moveable-line{
  width: 0px !important;
}
/*拡大縮小*/
.moveable-control{
  width:30px !important;
  height: 30px !important;
  border: none !important;
  background: #575757 !important;
  opacity: 0 !important;
}
.moveable-control.moveable-origin{
  width: 0px !important;
  height: 0px !important;
  border: none !important;
}

.newStamp{
  width: 200px;
}

